# ==================== SOURCE DB == MYSQL ====================

debezium.source.connector.class=io.debezium.connector.mysql.MySqlConnector
debezium.source.offset.storage=io.debezium.server.bigquery.offset.BigqueryOffsetBackingStore
debezium.source.offset.storage.bigquery.table-name=debezium_offset_storage_custom_table
debezium.source.database.history=io.debezium.server.bigquery.history.BigquerySchemaHistory
debezium.source.database.history.bigquery.table-name=__debezium_database_history_storage_test_table
debezium.source.database.history.bigquery.migrate-history-file=data/dbhistory.txt

debezium.source.offset.flush.interval.ms=60000

debezium.source.database.hostname=127.0.0.1
debezium.source.database.port=3306
debezium.source.database.user=user
debezium.source.database.password=xyz
debezium.source.database.dbname=mydb
debezium.source.database.ssl.mode=required
debezium.source.database.server.name=db

#debezium.source.converters=bqdatetime
#debezium.source.bqdatetime.type=io.debezium.server.converters.TemporalToISOStringConverter

# false = ("op": "r") AND true = ("op": "c")
debezium.source.snapshot.events.as.inserts=false

# when decimal.handling.mode configuration property is set to double, then the connector will represent
# all DECIMAL and NUMERIC values as Java double values and encodes them as follows:
debezium.source.decimal.handling.mode=double

# ==================== SINK ====================

debezium.sink.type=bigquerybatch
debezium.sink.bigquerybatch.project=test
debezium.sink.bigquerybatch.dataset=test
debezium.sink.bigquerybatch.location=EU
# debezium.sink.bigquerybatch.credentials-file=/path/to/application_credentials.json

# ==================== Misc ====================
debezium.source.include.schema.changes=false
quarkus.http.port=8014
# ==================== LOG LEVELS ====================
quarkus.log.level=INFO
quarkus.log.console.json=false
# Ignore messages below warning level from Jetty, because it's a bit verbose
quarkus.log.category."org.eclipse.jetty".level=WARN